@charset "utf-8";
/* CSS Document */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography
	1.1 - Headings
	1.2 - Body Copy
	1.3 - Buttons
	1.4 - Forms
	1.5 - Lists
	1.6 - Tables
2.0 - Navigation Menus
	2.1 - Main
	2.2 - Sub
	2.3 - Footer
3.0 - Content
	3.1 - Column Structure
	3.2 - Site Structure
	3.3	- Site Header
	3.4	- Site Footer
4.0 - Media
5.0 - Utility
	5.1 - Text Sizes
	5.2 - Colors
	5.3 - Alignments
--------------------------------------------------------------*/

blockquote p, h1, h2, h3 {
	font-family: 'Cormorant Garamond', serif;
}

blockquote footer p, .button {
	font-family: 'Open Sans', sans-serif;
}
/*
font-family: 'Open Sans Condensed', sans-serif;
*/

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

/*grouping*/

input, textarea, body > header > div:first-child {
	width: 100%
}
/*body > header > div:first-child is the navbar*/

/*--------------------------------------------------------------
1.0 - Typography
-------------------------------------------------------------- */

/*bold text grouping*/
h1, h2, h3, #items .wrapper > section:first-of-type .col-1-3 span, .button, label, body > header div:nth-of-type(2) p, #items > .wrapper > div .col-1-2 p:first-child {
	font-weight: 700;
}

/*--1.1 - Headings ------------------------------------------- */

h1 {
	
	font-size: 4.8rem;
	padding-top: 0px;
	margin: 0;
}

h2 {
	font-size: 3.2rem;
	margin: 5px 0 15px;
}

h3 {
	font-size: 2.7rem;
	margin: 5px 0;
}

/*--1.2 - Body Copy ------------------------------------------- */
/*right align*/

#contact .col-1-3:last-child, blockquote footer p {
	text-align: right;
}

/*common sizes*/
#items section header p, blockquote footer p {
	font-size: 1.7rem;
}

p {
	margin: 5px 0;
	font-weight: 400;
	font-size: 1.25rem;
	line-height: 1.875rem;
}

p.a-wrapper {
	margin: 0;
}

/*blockquote*/

/*margins are defined in column area*/

blockquote p {
	font-size: 2.4rem;
	font-weight: 500;
	line-height: 3.15rem;
}

/*text for items*/

#items section header p, #items section .row:nth-child(2) p:nth-of-type(2), #items .col-1-3 p:nth-of-type(2) { /*category, location*/
	font-style: italic;
	
}

/*twinfinch score*/

#items .wrapper > section:first-of-type .col-1-3 span {
	font-size: 10rem;
}

#items .wrapper > section:first-of-type .col-1-3 p {
	text-align: center;
	margin: 50px 0 100px;
}

/*pull out*/

#items > .wrapper > div .col-1-2 p:first-child {
	font-size: 1.6rem;
	line-height: 2.1rem;
}

/*storefront info*/

.col-5-6.block-center {
	text-align: center;
}

/*--1.3 - Buttons ------------------------------------------- */

/*sprites*/

footer .col-1-4 a { 
	display: inline-block;
	width: 25px;
	height: 25px;
	background-position: 0 0;
}

footer .col-1-4 li:first-child a {
	background: url(../img/facebook.png) no-repeat;
}

footer .col-1-4 li:nth-child(2) a {
	background: url(../img/twitter.png) no-repeat;
}

footer .col-1-4 li:nth-child(3) a {
	background: url(../img/googleplus.png) no-repeat;
}

footer .col-1-4 li:nth-child(4) a {
	background: url(../img/youtube.png) no-repeat;
}

footer .col-1-4 li a:hover {
	background-position: 0 -25px;
}

/*buttons general*/
a {
	text-decoration: none;
}

blockquote a {
	color: black;
}

blockquote a:hover, #items .wrapper > section:first-of-type .col-1-3 a:hover {
	color: #666;
}

#items .wrapper > section:first-of-type .col-1-3 a {
	color: white;
}

body > footer a {
	color: white;
}

.button {
	display: inline-block;
	border-style: solid;
	border-width: 3.5px;
	border-color: white;
	padding: 5px 20px;
	font-size: 1.5rem;
	color: white;
	
}

/*button hero*/
body > header div:nth-of-type(2) .button {
	margin: 10px 0 10px;
	background-color: rgba(0, 0, 0, 0.5);
}

/*items button*/
#items .button:hover, body > header div:nth-of-type(2) .button:hover, #contact .button:hover, body > form .button:hover {
	border-color: black;
	background-color: white;
}

/*contact button*/
#contact .button {
	background-color: #272727;
	border-color: black;
}

/*brew article*/
#items > .wrapper > div .col-1-2 a {
	font-size: 1.4rem;
	color: #DAC68C; /*gold color*/
}

#items > .wrapper > div .col-1-2 a:hover {
	text-decoration: underline;
}

#items .col-1-3 .button {
	margin-top: 20px;
}

/*--1.4 - Forms ------------------------------------------- */
label {
	display: none;
}

input {
	display: block;
}

input, textarea {
	color: white;
	font-size: 1.5rem;
}

/*subscribe*/
body > form {
	background-color: #272727;
	padding: 60px 0;
	margin: 30px auto 0; /*used to be 30*/
}

body > form label, body > form input, body > form p {
	display: inline-block;
}

label {
	color: white;
	font-size: 1.8rem;
}

body > form input {
	width: 40%;
	color: white;
}

input, textarea {
	border-width: 2px;
	border-style: solid;
	margin: 8px 0;
	padding: 10px 5px;
	border-color: white;
	background-color: #474747;
}

textarea {
	height: 138px;
	resize: none;
}

form img {
	max-width: 75%;
}

body > form input {
	
	background-color: #272727;
	margin: 0 10px;
}

::-webkit-input-placeholder {
   font-style: italic;
   color: #fff;
}
:-moz-placeholder {
   font-style: italic;
   color: #fff;  
}
::-moz-placeholder {
   font-style: italic; 
   color: #fff; 
}
:-ms-input-placeholder {  
   font-style: italic; 
   color: #fff;
}
:-o-input-placeholder {  
   font-style: italic; 
   color: #fff;
}

/*--1.5 - Lists ------------------------------------------- */
ul {
	padding: 0;
	margin: 0;
}

li {
	display: inline-block;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.5rem;
}

footer .col-1-4 ul {
	padding: 27px 0;
}

footer .col-1-4 li {
	margin: 0 10px;
}

nav li, body > footer .col-5-12 li {
	border-style: solid;
	border-width: 1.5px;
	padding: 10px 20px;
	margin: 0 10px;
}

nav li {
	border-color: white;
}

footer .col-5-12 li {
	border-color: #272727;
}

nav li:hover {
	border-color: black;
}

footer .col-5-12 li:hover {
	border-color: white;
}

/*--------------------------------------------------------------
2.0 - Navigation Menus
-------------------------------------------------------------- */
/*--2.1 - Main ------------------------------------------- */

body > header > div:first-child {
	position: fixed;
	background-color: white;
	z-index: 3;
	
	margin: 0;
	padding: 5px 0;
}

nav {
	padding: 15px 0;
}

/*--------------------------------------------------------------
3.0 - Content
-------------------------------------------------------------- */
/*--3.1 - Column Structure------------------------------------------- */

[class*='col-'] {
	float: left;
	padding-left: 8px;
	margin-bottom: 8px;
}

[class*='col-']:last-child {
	float: right;
	margin: 0;
}

[class*='col-']:first-child {
	float: left; /*this is re-iterated and written after last child because only child cols within a row should be treated differently, and not like a last-child*/
	padding-left: 0;
	margin-bottom: 8px;
}

.col-1-2.block-center, .col-2-3.block-center, .col-5-6.block-center {
	float: none;
	margin: 15px auto 7px;
}

.col-1-2 {
	width: 50%;
	
}

.col-1-3 {
	width: 33.33%;
}

.col-2-3 {
	width: 66.66%;
}

.col-1-4 {
	width: 25%;
}

.col-3-4 {
	width: 75%;
}

.col-1-5 {
	width: 20%;
}

.col-2-5 {
	width: 40%;
}

.col-3-5 {
	width: 60%;
}

.col-1-6 {
	width: 16.66%;
}

.col-5-6 {
	width: 83.33%;
}

.col-1-7 {
	width: 14.28%;
}

.col-2-7 {
	width: 28.57%;
}

.col-5-7 {
	width: 71.42%;
}

.col-1-8 {
	width: 12.5%;
}

.col-3-8 {
	width: 37.5%;
}

.col-5-8 {
	width: 62.5%;
}

.col-1-9 {
	width: 11.11%;
}

.col-2-9 {
	width: 22.22%;
}

.col-7-9 {
	width: 77.77%;
}

.col-1-10 {
	width: 10%;
}

.col-3-10 {
	width: 30%;
}

.col-7-10 {
	width: 70%;
}

.col-1-11 {
	width: 9.09%;
}

.col-2-11 {
	width: 18.18%;
}

.col-9-11 {
	width: 81.81%;
}

.col-1-12 {
	width: 8.33%;
}

.col-5-12 {
	width: 41.66%;
}

.col-7-12 {
	width: 58.33%;
}

/*--3.2 - Site Structure------------------------------------------- */

.wrapper {
	margin: 0 auto 5px;
	width: 65%;
	max-width: 1170px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

img {
	max-width: 100%;
}

/*root section*/

body > section {
	padding: 60px 0; /*changed from 30, needed more spacing to separate sections*/
}

/*nav*/

nav.col-7-12.float-left { /*this is an exception, the nav is touching the logo in the nav bar. default is right because its the last element.*/
	float: left;
}

/*main card spacing*/

#items .wrapper > section > .row:first-child {
	padding: 20px 20px 125px;
}

#items .wrapper > section:first-of-type > .row:first-child {
	padding: 0 0 0 20px;
}

/*how to brew*/

#items .wrapper > .row:last-child {
	margin-top: 55px;
}

/*location*/

#location .col-5-12.float-right {
	float: right;
	padding-left: 8px;
	
}

#location .col-1-2.float-left { /*this is used to address a change in order of elements when the website changes for small screens.*/
	float: left;
	
}

#map {
	height: 250px;
}

/*lesser items*/
/*
#items .wrapper .col-1-3 header p {
	margin-bottom: 150px;
	display: inline-block;
}*/

/*--3.3 - Site Header ------------------------------------------- */

/*hero*/

header > div {
	padding: 180px 0 30px;
}

body > header div:nth-of-type(2) {
	background: url(../img/bg-hero.jpg) 0 0 fixed no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-align: center;
	margin: 0;
}

body > header div:nth-of-type(2) p {
	font-size: 1.5rem;
}

#items .wrapper > section > div:first-of-type {
	margin: 20px 0;
}

/*--3.4 - Site Footer ------------------------------------------- */

body > footer {
	padding: 15px 0;
}

/*--------------------------------------------------------------
4.0 - Media
-------------------------------------------------------------- */

/*background size*/
/*
body > header div:nth-of-type(2), #items .wrapper > section:first-of-type > div:first-of-type, #items .wrapper > section:nth-of-type(2) > div:first-of-type {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}*/

.logo {
	max-width: 55%;
	padding-top: 10px;
}

/*product images*/

#items .wrapper > section:first-of-type > div:first-of-type {
	background: url(../img/product-houseblend.jpg) 0 0 fixed no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
}

#items .wrapper > section:nth-of-type(2) > div:first-of-type {
	background: url(../img/product-seasonal.jpg) 0 0 fixed no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#items .wrapper .col-1-3:first-of-type header {
	background: url(../img/product-sunrise.jpg) 0 0 no-repeat;
	
}

#items .wrapper .col-1-3:nth-of-type(2) header {
	background: url(../img/product-midnight.jpg) 0 0 no-repeat;
}

#items .wrapper .col-1-3:nth-of-type(3) header {
	background: url(../img/product-expresso.jpg) 0 0 no-repeat;
}

#items .wrapper .col-1-3:first-of-type header, #items .wrapper .col-1-3:nth-of-type(2) header, #items .wrapper .col-1-3:nth-of-type(3) header {
	background-size: 189px 250px;
	height: 250px;
}
/*--------------------------------------------------------------
5.0 - Utility
-------------------------------------------------------------- */

/*--5.2 - Colors ------------------------------------------- */

/*text color*/
header a, #items .button:hover, body > header div:nth-of-type(2) .button:hover, #contact .button:hover, body > form .button:hover {
	color: black;
}

/*hero*/
body > header div:nth-of-type(2) {
	color: white;
}

#items, #contact {
	background-color: #434343; /*dark*/
	color: white;
}

body > footer {
	background-color: #272727; /*darkest*/
}


/*-----------------------------------------------------------------*/











@media screen and (max-width: 480px) {


/*--Groupings------------------------------------------------ */

.col-1-2.block-center, #intro .col-1-2, blockquote.col-2-3, #items .col-7-12, #items .col-1-2, #items .col-1-6, #items .col-1-3, #items .col-5-12, #location .col-1-2, #location .col-5-12, #location .col-5-6, body > form [class*='col-'], #contact [class*='col-'] {
	width: 100%;
}
/*hero, intro, intro, items, items, items, items, items, form, contact*/

#intro .col-1-2, blockquote.col-2-3, #items .col-1-3, #items .col-5-12, #location .col-1-2, #location .col-5-12, #location .col-5-6, body > form [class*='col-'], #contact [class*='col-'] {
	padding-left: 0;
}
/*intro, blockquote, items, items, location, contact */

/*--1.1 - Headings ------------------------------------------- */	

h2 {
	text-align: center;
}

/*--1.4 - Forms ------------------------------------------- */	

body > form label, body > form input, textarea {
	display: block;
	width: 100%;
	margin: 10px 0;
}

form {
	text-align: center;
}

#contact .col-1-3:nth-child(2) {
	margin: 0;
}

#contact textarea {
	margin: 0 0 8px 0; /*not margin bottom, because I don't want to explicitly change the others to 0;*/
}

#contact .col-1-3:first-child {
	display: none;
}

/*--1.2 - Body Copy ------------------------------------------------- */

/*twinfinch score*/

#items .wrapper > section:first-of-type .col-1-3 p {
	margin: 100px 0 25px;
}

/*--3.1 - Column Structure------------------------------------------- */

/*nav bar*/
.col-1-6 {
	width: 25%;
}

nav.col-7-12 {
	width: 75%;
}
/*hero*/

/*intro*/
#intro .col-5-12 {
	display: none;
}

#intro .col-1-2 {
	margin-bottom: 8px;
}

/*items*/

#items > .wrapper > section > .row > .col-1-3 {
	width: 50%;
}

/*contact*/

#contact h2 {
	text-align: center;
}

/*footer*/

footer .col-1-6 {
	width: 25%;
}

footer .col-5-12 {
	width: 75%;
}

footer .col-1-4 {
	width: 75%;
}


/*--3.2 - Site Structure------------------------------------------- */

/*column responsive*/

.wrapper {
	width: 95%;
}

body > header > div:first-child {
	position: static;
}

/*--------------------------------------------------------------
5.0 - Utility
-------------------------------------------------------------- */
/*--3.2 - Alignment ------------------------------------------- */

#items .row:nth-child(2), #items .col-1-3 > p  {
	text-align: center;
}

#items .wrapper .col-1-3:first-child header,#items .wrapper .col-1-3:nth-child(2) header, #items .wrapper .col-1-3:nth-child(3) header {
	background-position: center;
}

}