@charset "utf-8";
/* CSS Document */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography
	1.1 - Headings
	1.2 - Body Copy
	1.3 - Buttons
	1.4 - Forms
	1.5 - Lists
	1.6 - Tables
2.0 - Navigation Menus
	2.1 - Main
	2.2 - Sub
	2.3 - Footer
3.0 - Content
	3.1 - Column Structure
	3.2 - Site Structure
	3.3	- Site Header
	3.4	- Site Footer
4.0 - Media
5.0 - Utility
	5.1 - Text Sizes
	5.2 - Colors
	5.3 - Alignments
--------------------------------------------------------------*/

blockquote p, h1, h2, h3 {
	font-family: 'Cormorant Garamond', serif;
}

blockquote footer p{
	font-family: 'Open Sans', sans-serif;
}
/*
font-family: 'Open Sans Condensed', sans-serif;
*/

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

/*grouping*/

input, textarea, body > header > div:first-child {
	width: 100%
}
/*body > header > div:first-child is the navbar*/

/*--------------------------------------------------------------
1.0 - Typography
-------------------------------------------------------------- */
/*--1.1 - Headings ------------------------------------------- */

h1, h2, h3 {
	font-weight: 700;
}

h1 {
	
	font-size: 4.8rem;
	/*padding-top: 165px;*/
	padding-top: 0px;
	margin: 0;
}

h2 {
	font-size: 3.2rem;
}

h3 {
	font-size: 2.7rem;
	margin: 5px;
}

/*--1.2 - Body Copy ------------------------------------------- */

#items section header p {
	font-size: 1.7rem; /*same size as h3, grouping?*/
}

p {
	margin: 5px 0;
	
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1.25rem;
	
	line-height: 1.875rem;
}

/*blockquote*/

/*margins are defined in column area*/

blockquote p {
	font-size: 2.4rem;
	font-weight: 500;
	line-height: 3.15rem;
}

blockquote footer p{
	font-size: 1.7rem; /*grouping?*/
	text-align: right;
}

/*text for items*/

#items section header p, #items section .row:nth-child(2) p:nth-of-type(2) { /*category, location*/
	font-style: italic;
	
}

/*pull out*/

#items > .wrapper > div .col-1-2 p:first-child {
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 2.1rem;
}

/*--1.3 - Buttons ------------------------------------------- */

/*sprites*/

footer .col-1-4 a { /*the blue is placeholder until sprites are made*/
	display: inline-block;
	width: 25px;
	height: 25px;
	background-color: blue;
}

/*buttons general*/
a {
	text-decoration: none;
}

header a {
	color: black;
}

footer a {
	color: white;
}

.button {
	display: inline-block;
	border-style: solid;
	border-width: 4px;
	border-color: white;
	padding: 5px 20px;
	
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5rem;
	font-weight: 700;
	color: white;
	
}

/*button hero*/
body > header div:nth-of-type(2) .button {
	margin: 10px 0 10px;
	background-color: rgba(0, 0, 0, 0.5);
}

/*items button*/
#items .button:hover, body > header div:nth-of-type(2) .button:hover, #contact .button:hover {
	border-color: black;
	background-color: white;
	color: black;
}

/*contact button*/
#contact .button {
	background-color: #272727;
	border-color: black;
}

/*brew article*/
#items > .wrapper > div .col-1-2 a {
	font-size: 1.4rem;
	color: #DAC68C; /*gold color*/
}

#items > .wrapper > div .col-1-2 a:hover {
	text-decoration: underline;
}

#items .button {
	/*width: 100%;*/
}

/*--1.4 - Forms ------------------------------------------- */
label {
	display: none;
}

input {
	display: block;
}

/*--1.5 - Lists ------------------------------------------- */
ul {
	padding: 0;
	margin: 0;
}

li {
	display: inline-block;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.5rem;
}

nav li, body > footer .col-5-12 li {
	border-style: solid;
	border-width: 1.5px;
	
	padding: 10px 20px;
	margin: 0 20px;
}

nav li {
	border-color: white;
}

footer .col-5-12 li {
	border-color: #272727;
}

nav li:hover {
	border-color: black;
}

footer .col-5-12 li:hover {
	border-color: white;
}

/*--------------------------------------------------------------
2.0 - Navigation Menus
-------------------------------------------------------------- */
/*--2.1 - Main ------------------------------------------- */

body > header > div:first-child {
	position: fixed;
	background-color: white;
	z-index: 3;
	
	margin: 0;
	padding: 5px 0;
}

nav {
	padding: 30px 0;
}

/*--------------------------------------------------------------
3.0 - Content
-------------------------------------------------------------- */
/*--3.1 - Column Structure------------------------------------------- */

[class*='col-'] {
	float: left;
	padding-left: 8px;
	margin-bottom: 8px;
}

[class*='col-']:last-child {
	float: right;
	margin: 0;
}

[class*='col-']:first-child {
	float: left; /*this is re-iterated and written after last child because only child cols within a row should be treated differently, and not like a last-child*/
	padding-left: 0;
	margin-bottom: 8px;
}

.col-1-2.block-center, .col-2-3.block-center, .col-5-6.block-center {
	float: none;
	margin: 15px auto 7px;
}

.col-1-2 {
	width: 50%;
	
}

.col-1-3 {
	width: 33.33%;
}

.col-2-3 {
	width: 66.66%;
}

.col-1-4 {
	width: 25%;
}

.col-3-4 {
	width: 75%;
}

.col-1-5 {
	width: 20%;
}

.col-2-5 {
	width: 40%;
}

.col-3-5 {
	width: 60%;
}

.col-1-6 {
	width: 16.66%;
}

.col-5-6 {
	width: 83.33%;
}

.col-1-7 {
	width: 14.28%;
}

.col-2-7 {
	width: 28.57%;
}

.col-5-7 {
	width: 71.42%;
}

.col-1-8 {
	width: 12.5%;
}

.col-3-8 {
	width: 37.5%;
}

.col-5-8 {
	width: 62.5%;
}

.col-1-9 {
	width: 11.11%;
}

.col-2-9 {
	width: 22.22%;
}

.col-7-9 {
	width: 77.77%;
}

.col-1-10 {
	width: 10%;
}

.col-3-10 {
	width: 30%;
}

.col-7-10 {
	width: 70%;
}

.col-1-11 {
	width: 9.09%;
}

.col-2-11 {
	width: 18.18%;
}

.col-9-11 {
	width: 81.81%;
}

.col-1-12 {
	width: 8.33%;
}

.col-5-12 {
	width: 41.66%;
}

.col-7-12 {
	width: 58.33%;
}

/*--3.2 - Site Structure------------------------------------------- */

/*body {
	
}*/

.wrapper {
	margin: 0 auto 5px;
	width: 65%;
	max-width: 1170px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

img {
	max-width: 100%;
}

/*root section*/

body > section {
	padding: 30px 0;
}

/*nav*/

nav.col-7-12.float-left { /*this is an exception, the nav is touching the logo in the nav bar. default is right because its the last element.*/
	float: left;
}

/*location*/

#location .col-5-12.float-right {
	float: right;
	padding-left: 8px;
	
}

#location .col-1-2.float-left { /*this is used to address a change in order of elements when the website changes for small screens.*/
	float: left;
	
}

#map {
	height: 250px;
}

/*lesser items*/
/*
#items .wrapper .col-1-3 header p {
	margin-bottom: 150px;
	display: inline-block;
}*/

/*--3.3 - Site Header ------------------------------------------- */

/*hero*/

header .tint {
	padding: 180px 0 30px;
}

body > header div:nth-of-type(2) {
	background: url(../img/bg-hero.jpg) 0 0 fixed no-repeat;
	background-size: cover; /*vendor?*/
	text-align: center;
	margin: 0;
}

body > header div:nth-of-type(2) p{
	font-weight: 700;
	font-size: 1.5rem;
}

#items .wrapper > section > div:first-of-type {
	margin: 20px 0;
}

/*--3.4 - Site Footer ------------------------------------------- */

body > footer {
	padding: 15px 0;
}

/*--------------------------------------------------------------
4.0 - Media
-------------------------------------------------------------- */

.logo {
	max-width: 55%;
}

/*product images*/

#items .wrapper > section:first-of-type > div:first-of-type {
	background: url(../img/product-houseblend.jpg) 0 0 fixed no-repeat;
	background-size: cover; /*vendor? grouping?*/
	
}

#items .wrapper .tint {
	padding: 20px 20px 125px;
}

#items .wrapper > section:nth-of-type(2) > div:first-of-type {
	background: url(../img/product-seasonal.jpg) 0 0 fixed no-repeat;
	background-size: cover; /*vendor? grouping?*/
}

#items .wrapper .col-1-3:first-of-type header {
	background: url(../img/product-sunrise.jpg) 0 0 no-repeat;
	background-size: 189px 250px; /*vendor? grouping?*/
	
	height: 250px;
}

#items .wrapper .col-1-3 header {
	background: url(../img/product-generic.jpg) 0 0 no-repeat;
	background-size: 189px 250px; /*vendor? grouping?*/
	
	height: 250px;
}
/*--------------------------------------------------------------
5.0 - Utility
-------------------------------------------------------------- */

/*--5.2 - Colors ------------------------------------------- */

.tint {
	background-color: rgba(50, 50, 50, 0.6);
}

/*hero*/
body > header div:nth-of-type(2) {
	color: white;
}

#items, #contact {
	background-color: #434343; /*dark*/
	color: white;
}

body > footer {
	background-color: #272727; /*darkest*/
}


/*-----------------------------------------------------------------*/











@media screen and (max-width: 480px) {
.col-1-2.block-center, #intro .col-1-2, blockquote.col-2-3, #items .col-7-12, #items .col-1-2, #items .col-1-6, #items .col-1-3, #items .col-5-12, #location .col-1-2, #location .col-5-12, #location .col-5-6, body > form [class*='col-'], #contact [class*='col-'] {
	width: 100%;
}
/*hero, intro, intro, items, items, items, items, items, form, contact*/

#intro .col-1-2, blockquote.col-2-3, #items .col-1-3, #items .col-5-12, #location .col-1-2, #location .col-5-12, #location .col-5-6, body > form [class*='col-'], #contact [class*='col-'] {
	padding-left: 0;
}
/*intro, blockquote, items, items, location, contact */
/*--3.1 - Column Structure------------------------------------------- */

/*nav bar*/
.col-1-6 {
	width: 25%;
}

nav.col-7-12 {
	width: 75%;
}
/*hero*/

/*intro*/
#intro .col-5-12 {
	display: none;
}

#intro .col-1-2 {
	margin-bottom: 8px;
}

/*items*/

#items > .wrapper > section > .row > .col-1-3 {
	width: 50%;
}

/*contact*/

#contact h2 {
	text-align: center;
}

/*footer*/

footer .col-1-6 {
	width: 25%;
}

footer .col-5-12 {
	width: 75%;
}

footer .col-1-4 {
	width: 75%;
}


/*--3.2 - Site Structure------------------------------------------- */

/*column responsive*/

.wrapper {
	width: 95%;
}

body > header > div:first-child {
	position: static;
}
}